#title-that, #title-games, #title-ux {
    font-family: 'League Gothic', sans-serif;
    text-shadow: 1px 1px white, 2px 2px #666;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.03em;
    font-weight: normal;
}

#title-that {
    color: #444;
}

#title-games {
    color: #000;
}

#title-ux {
    color: #080;
}
